<ng-template *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this ng-template -->
</ng-template>
<ng-template #guest>
  <div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/sections/bruno-abatti.jpg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 ml-auto mr-auto">
            
            
              <div class="alert alert-danger " data-notify="container" ng-if="message">
                <div class="alert-wrapper">
                  <div class="message">
                    {{message | translate}}
                  </div>
                </div>
              </div>
            
            <div class="card">
				<div class="card-body">
                <h3 class="" style="text-align:center;margin:0;">{{ 'Forgotpassword' | translate }}</h3>
                <div class="form-group"></div>
                
                  <input type="email"  [(ngModel)]="email" name="email" class="form-control no-border" placeholder="{{ 'Email' | translate }}">
                  
                  <button (click)="Sendemailreset()"  class="btn btn-success btn-block btn-round">{{ 'Send' | translate }}</button>
                </div>
                <div class="forgot text-center">
                    <a  class="btn btn-link btn-info text-center" [routerLink]="[ '/login' ]">{{ 'Login' | translate }}</a>                   
                </div>
			</div>
           

          </div>
        </div>
        
      </div>
    </div>
  </div>
</ng-template>
<ng-template #authenticated>
  <button (click)="logout()" class="btn btn-link btn-danger">logout</button>
</ng-template>