
<ng-template #system let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                System Notification
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <h5>{{Title}}</h5>
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-info btn-link" (click)="c('Close click')">OK</button>
        
    </div>  
</ng-template>
<ng-template #doubt let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                Gift Doubt
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-left">
        <form action="" name="doubtsanswer">
            <div class="form-group">
                <label for="">Question: {{doubtQuestion}}</label>
                
            </div>
            <div class="form-group">
                <label for="">Answer:</label>
                <textarea name="answerdoubts" [(ngModel)]="doubtsanswer" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="answerDoubt()">Send</button>
        </div>
    </div>
</ng-template>
<ng-template #wizzes let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                Wizzes Notification
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <h5>{{Tiele}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">OK</button>
    </div>
</ng-template>
<ng-template #survey let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                Surveys
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title}}</h4>
            <input type="text" name="surveysinput" id="surveysinput" class="form-control" placeholder="write the answer here!">
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Never mind</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="sendSurveys()">Send</button>
        </div>
    </div>
</ng-template>
<ng-template #sharelist let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                New Share List Invite
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title}}</h4>
            
            <a class="btn btn-outline-primary" [routerLink]="[ '/share-list-details', IdGift, IdFriend ]" role="button" (click)="c('close')" >View Share List</a>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('denysharelist')">Deny</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="c('acceptsharelist')">Accept</button>
        </div>
    </div>
</ng-template>
<ng-template #newfriend let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                New Friend Request
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title}}</h4>
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">OK</button>        
    </div>
</ng-template>
<ng-template #answerdoubts let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                Surveys
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <label for="">Question: {{doubtQuestion}}</label>
        
        </div>
        <div class="form-group">
            <label for="">Answer:</label>
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-success btn-link" (click)="c('close')">OK</button>        
    </div>
</ng-template>