
<ng-template #system let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                 {{ 'Systemnotification' | translate }}
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <h5>{{Title}}</h5>
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-info btn-link" (click)="c('Close click')">OK</button>
        
    </div>  
</ng-template>
<ng-template #doubt let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                 {{ 'Doubts' | translate }}
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-left">
        <form action="" name="doubtsanswer">
            <div class="form-group">
                <label for="">{{ 'Question' | translate }}: {{doubtQuestion}}</label>
                
            </div>
            <div class="form-group">
                <label for="">{{ 'Answer' | translate }}:</label>
                <textarea name="answerdoubts" [(ngModel)]="doubtsanswer" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">{{ 'Cancel' | translate }}</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="answerDoubt()">{{ 'Send' | translate }}</button>
        </div>
    </div>
</ng-template>
<ng-template #wizzes let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                Wizzes Notification
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <h5>{{Title}}</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">OK</button>
    </div>
</ng-template>
<ng-template #survey let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                {{ 'Surveys' | translate }}
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title}}</h4>
            <input type="text" name="surveysinput" id="surveysinput" class="form-control" placeholder="write the answer here!">
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">{{ 'Nevermind' | translate }}</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="sendSurveys()">{{ 'Send' | translate }}</button>
        </div>
    </div>
</ng-template>
<ng-template #sharelist let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                 {{ 'Sharelistinvite' | translate }}
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title}}</h4>
        <br>
            <a class="btn btn-outline-primary" [routerLink]="[ '/share-list-details', IdGift, IdFriend ]" role="button" (click)="c('close')" > {{ 'Viewsharelist' | translate }}</a>
            
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="c('denysharelist')"> {{ 'Deny' | translate }}</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="c('acceptsharelist')"> {{ 'Accept' | translate }}</button>
        </div>
    </div>
</ng-template>
<ng-template #newfriend let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                 {{ 'Newfriendrequest' | translate }}
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <h4 class="text-center">{{Title | translate}}</h4>
        <br>
            <a class="btn btn-primary"  [routerLink]="['/friend-requests']">{{ 'Seerequest' | translate }}</a>
            
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">OK</button>        
    </div>
</ng-template>
<ng-template #answerdoubts let-c="close" let-d="dismiss">
    <div class="no-title modal-header no-border-header">
        <div class="modal-title">
            <h4 class="modal-title">
                
                <button type="button" class="close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h4>
        </div>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <label for="">{{ 'Question' | translate }}: {{doubtQuestion}}</label>
        
        </div>
        <div class="form-group">
            <label for="">{{ 'Answer' | translate }}:</label>
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-success btn-link" (click)="c('close')">OK</button>        
    </div>
</ng-template>