<div class="team-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title ">{{ 'Mylist' | translate }}
          <a class="btn btn-info btn-rotate btn-round pull-right" [routerLink]="['/newlist']">
            <i class="nc-icon nc-simple-add "></i> {{ 'Newlist' | translate }}</a>
        </h2>
        <h5 class="description">{{ 'Mylistmessage' | translate }}
        </h5>
      </div>
    </div>
    <div class="space-top"></div>
    <div class="row">
      <ngb-tabset type="pills" class="nav-pills-danger nav-justified col-md-12">
        <ngb-tab title="{{ 'Lastest' | translate }}" class="col-md-4">
          <div class="row">
            <ng-template ngbTabContent >
            <div class="row">
              <div *ngFor="let list of Listsitem " class="col-md-4">
                <a [routerLink]="['/list-details', list.id]">
                  <div class="card card-profile card-plain">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="card-img-top">
                          <a [routerLink]="['/list-details', list.id]" >
                            <img class="img" src="{{list.Url[0] || 'assets/img/placeholder.jpg'}}" />
                          </a>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="card-body text-left">
                          <h3 class="card-title">{{list.Title}}</h3>
                          <h6 class="card-category" ng-if="list.Price">{{ 'Price' | translate }} : {{list.Price}} <small><i>{{this.auth.currency}}</i></small></h6>
                          <p class="card-description">
                             {{ 'Description' | translate }} : {{list.Description}}
                          </p>
                          <div class="card-footer pull-left">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                
              </div>
            </div>
            </ng-template>
          </div>
        </ngb-tab>
        <ngb-tab title="{{ 'Price' | translate }}" class="col-md-4">
          <ng-template ngbTabContent>
            <div class="col-md-12">
              <div class="card card-profile card-plain">
                <div *ngFor="let list of ListsitemPrice">
                    <a [routerLink]="['/list-details', list.id]">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img-top">
                                <a [routerLink]="['/list-details', list.id]">
                                    <img class="img" src="{{list.Url[0] || 'assets/img/placeholder.jpg'}}"  />
                                </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body text-left">
                                <h4 class="card-title">{{list.Title}}</h4>
                                <h6 class="card-category"><b>{{ 'Category' | translate }} :</b> {{list.Category}}</h6>
                                <p class="card-description">
                                 {{ 'Open' | translate }}: {{list.OpenDate}}
                                </p>
                                <p class="card-description">
                                 {{ 'Expiry' | translate }}: {{list.ExpiryDate}}
                                </p>
                                <div class="card-footer pull-left">
                                    
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4 pull-right">
                                <div class="card-body text-left">
                                <h4 class="card-title" ng-if="list.Price">{{ 'Price' | translate }} : {{list.Price}} <small><i>{{this.auth.currency}}</i></small></h4>
                                <h6 class="card-category"></h6>
                                <p class="card-description">
                                    {{list.Description}}
                                </p>
                                <div class="card-footer pull-left">
                                
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{ 'Categories' | translate }}" class="col-md-4">
            <ng-template ngbTabContent>
                <div class="col-md-12">
                    <div class="card card-profile card-plain">
                        <div *ngFor="let list of ListsitemCategory">
                            <a [routerLink]="['/list-details', list.id]">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-img-top">
                                            <a [routerLink]="['/list-details', list.id]">
                                                <img class="img" src="{{list.Url[0]  || 'assets/img/placeholder.jpg'}}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-body text-left">
                                            <h4 class="card-title">{{list.Title}}</h4>
                                            <h6 class="card-category">{{list.Category}}</h6>
                                            <p class="card-description">
                                                 {{ 'Open' | translate }}: {{list.OpenDate}}
                                            </p>
                                            <p class="card-description">
                                                 {{ 'Expiry' | translate }}: {{list.ExpiryDate}}
                                            </p>
                                            <div class="card-footer pull-left">
                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pull-right">
                                        <div class="card-body text-left">
                                            <h4 class="card-title" ng-if="list.Price">{{ 'Price' | translate }} : {{list.Price}}<small><i>{{this.auth.currency}}</i></small></h4>
                                            <h6 class="card-category"></h6>
                                            <p class="card-description">
                                                {{list.Description}}
                                            </p>
                                            <div class="card-footer pull-left">
                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<footer class="footer section-nude" *ngIf="is_list">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">{{ 'Home' | translate }}</a>
                    </li>
                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    ©, made with
                    <i class="fa fa-heart heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>
