
<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/']">Home</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ng-container *ngIf="if_user; else elseTemplate">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/mylist']">My List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/my-share-list']">My Share Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/friends']">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/friend-blocked-gifts']">Friends Blocked Gifts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/notifications']">Notifications</a>
                    </li>
                    <div ngbDropdown class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" ngbDropdownToggle>More</div>
                        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                            <a class="dropdown-item" [routerLink]="['/profile']">
                                <i class="fa fa-user"></i>&nbsp;My Profile</a>
                            <a class="dropdown-item" [routerLink]="['/trendy']">
                                <i class="fa fa-fire"></i>&nbsp;Trendy Now</a>
                            <a class="dropdown-item" [routerLink]="['/settings-contact']">
                                <i class="fa fa-cogs"></i>&nbsp;Settings & Contact Us</a>
                        </div>
                    </div>
                
                    <li class="nav-item">
                        <a class="btn btn-round btn-danger" (click)="auth.signOut()">
                            Log Out
                        </a>
                    </li>
                
                </ul>
            </ng-container>
            <ng-template #elseTemplate>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-round btn-danger" [routerLink]="['/login']">
                            Log In
                        </a>
                    </li>
                </ul>
            </ng-template>
            
            
        </div>
    </div>
</nav>