<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h3>{{ 'Listdetails' | translate }}</h3>
        <form name="addlistform">
          <div class="row">
            <div class="col-md-3 col-sm-5">
              <h6>{{ 'Images' | translate }}</h6>
              <app-image-upload [multiple]="true"></app-image-upload>
              <!-- 
                <h6>Categories</h6>
                <tag-input [(ngModel)]='categories' name="categories" theme='regular-theme'></tag-input>
    -->
              <b>{{ 'Maximageupload' | translate }}</b>

            </div>

            <div class="col-md-8 col-sm-7">
              <div class="form-group">
                <h6>{{ 'Title' | translate }}
                  <span class="icon-danger">*</span>
                </h6>
                <input type="text" class="form-control border-input" required [(ngModel)]="title" #titles="ngModel" name="title" placeholder="Title of item">
                <div *ngIf="titles.invalid && (titles.dirty || titles.touched)" class="alert alert-danger form-control">

                  <div *ngIf="titles.errors.required">
                     {{ 'Titlerequired' | translate }}
                  </div>
                </div>
              </div>
              <div class="row price-row form-group">
                <div class="col-md-6">
                  <h6>{{ 'Price' | translate }}
                  </h6>
                  <div class="input-group border-input">
                    <input type="text" value="" placeholder="enter price" [(ngModel)]="price" #prices="ngModel" name="price" class="form-control border-input">
                    <span class="input-group-addon">
                      <i>{{this.auth.currency}}</i>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <h6>{{ 'Category' | translate }}</h6>
                  <div class="form-group">
                    <angular2-multiselect [data]="dropdownList1" #categorys="ngModel" [(ngModel)]="category" name="category" [settings]="dropdownSettings1">
                    </angular2-multiselect>

                  </div>
                </div>
              </div>
              <div class="">
                <div class="form-group">
                  <h6>{{ 'Description' | translate }}
                    <span class="icon-danger">*</span>
                  </h6>
                  <textarea class="form-control textarea-limited" placeholder="" rows="13" maxlength="150" required [(ngModel)]="description"
                    #descriptions="ngModel" name="description"></textarea>
                  <h5>
                    <div *ngIf="descriptions.invalid && (descriptions.dirty || descriptions.touched)" class="alert alert-danger form-control">

                      <div *ngIf="descriptions.errors.required">
                         {{ 'Descriptionrequired' | translate }}
                      </div>
                    </div>
                    <small>
                      <span id="textarea-limited-message" class="pull-right">{{'Required' | translate}}</span>
                    </small>
                  </h5>

                </div>
              </div>
              <h3>
                <strong> {{ 'Wheretofind' | translate }}</strong>
              </h3>
              <div class="col-sm-12">
                <div class="form-group">
                  <h6> -  {{ 'Website' | translate }} :</h6>
                  <input type="text" class="form-control border-input" [(ngModel)]="website" #websites="ngModel" name="website" placeholder="{{ 'Websiteplaceholder' | translate }}...">
                </div>
                <div class="form-group">
                  <h6> - {{ 'Shopaddress' | translate }} :</h6>
                  <input type="text" class="form-control border-input" #search id="searchaddress" autocorrect="off" autocapitalize="off" spellcheck="off"
                    [(ngModel)]="address" #addresss="ngModel" name="address" placeholder="{{ 'Addressplaceholder' | translate }}...">

                  <input type="hidden" class="form-control border-input" [(ngModel)]="lat" #lats="ngModel" name="lat" value="1">
                  <input type="hidden" class="form-control border-input" [(ngModel)]="lng" #longs="ngModel" name="long" value="2">
                </div>
                <div class="form-group">
                  <h6> - {{ 'Otherinfos' | translate }} :</h6>
                  <input type="text" class="form-control border-input" [(ngModel)]="others" #otherss="ngModel" name="others" placeholder="{{ 'Otherinfos' | translate }}...">
                </div>
              </div>
              <div class="map form-group">
                <div class="big-map">
                  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                      [label]="m.label" [iconUrl]="markerIconUrl()" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                      <agm-info-window>
                        <strong>{{infoWindow}}</strong>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>

              <div class="form-group">
                <h6> {{ 'Expirydate' | translate }}
                  <span class="icon-danger">*</span>
                </h6>
                <input type="date" class="form-control border-input" required [(ngModel)]="expiry" #expirys="ngModel" name="expiry" placeholder="...">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for=""></label>
          </div>
          <ng-container *ngIf="error">
            <div class="alert alert-danger " data-notify="container" *ngIf="error">
              <div class="alert-wrapper text-center">
                <div class="message">
                  {{ error | translate}}
                </div>
              </div>

            </div>
          </ng-container>
          <ng-container *ngIf="message">
            <div class="alert alert-danger " data-notify="container">
              <div class="alert-wrapper text-center">
                <div class="message">
                   {{ 'Listupdatedmessage' | translate }} !
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #nomessage>
          </ng-template>
          <div class="row buttons-row" *ngIf="(!adminid)||(uid === adminid)">
            <div class="col-md-3 col-sm-4">
                <a class="btn btn-danger btn-block btn-round" (click)="open(small, 'sm')" >{{ 'Delete' | translate }} </a>                
                <ng-template #small let-c="close" let-d="dismiss">
                    <div class="no-title modal-header no-border-header">
                        <!-- <h4 class="modal-title">Modal title</h4> -->
                        <button type="button" class="close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>{{ 'Confirmdelete' | translate }}  </h5>
                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">{{ 'Nevermind' | translate }} !</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button type="button" class="btn btn-danger btn-link" (click)="deleteList()">{{ 'Yes' | translate }}</button>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-4 col-sm-4">
              <ng-container *ngIf="(adminid && sharelistid); else elseTemplate">
                <a class="btn btn-outline-default btn-block btn-round" [routerLink]="['/share-list-details',sharelistid, adminid]">{{ 'Cancel' | translate }}</a>
              </ng-container>
              <ng-template #elseTemplate>
                <a class="btn btn-outline-default btn-block btn-round" [routerLink]="['/mylist']">{{ 'Cancel' | translate }}</a>
              </ng-template>
              
              
            </div>
            <div class="col-md-4 col-sm-4">
              <button class="btn btn-primary btn-block btn-round" (click)="updateList()" >{{ 'Updatelist' | translate }} </button>
            </div>
          </div>


        </form>
        <div class="form-group">
            <label for=""></label>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel id="config-panel-one">
                        <ng-template ngbPanelTitle>
                            <h5 class="mb-0 panel-title">
                                <a class="collapsed" placement="top" ngbtooltip="Show Info">
                                    <b>{{ 'Doubts' | translate }}</b>
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </h5>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <div class="media-area">
                                        <div  *ngIf="doubts">

                                            <div class="media" *ngFor="let item of doubts">
                                                <a class="pull-left" >
                                                <div class="avatar">
                                                    <img class="media-object" src="{{item.Url || 'assets/img/placeholder.jpg'}}" alt="sender profile" />
                                                </div>
                                                </a>
                                                <div class="media-body">
                                                <h5 class="media-heading">{{item.Name}}</h5>
                                                <div class="pull-right">
                                                    <h6 class="text-muted">{{item.data.Date}}</h6>
                                                    <a href="#" class="btn btn-info btn-link pull-right ">
                                                    </a>
                                        
                                                </div>
                                                <p>{{item.data.Question}}</p>                                                
                                                <div class="media" *ngIf="item.data.Request">
                                                   
                                                    <div class="media-body">
                                                        <h5 class="media-heading">{{ 'Answer' | translate }} : </h5>
                                                        <div class="pull-right">
                                                                                                      
                                                        </div>
                                                        <p>{{item.data.Request}}</p>
                                                       
                                                    </div>
                                                </div>
                                                <!-- end media -->
                                                <div class="media media-post" *ngIf="is_own">
                                                    <a class="pull-left author" >
                                                    <div class="avatar">
                                                        <img class="media-object" alt="64x64" src="{{myUrl || 'assets/img/placeholder.jpg'}}">
                                                    </div>
                                                    </a>
                                                    <div class="media-body">
                                                    <textarea class="form-control" #doubtmessage placeholder="Write a nice reply or go home..." rows="4"></textarea>
                                                    <div class="media-footer" *ngIf="!is_shared">
                                                        <a  class="btn btn-info pull-right" (click)="replyDoubt(true,item.id, doubtmessage.value)" >{{ 'Reply' | translate }}</a>
                                                    </div>
                                                    <div class="media-footer" *ngIf="is_shared">
                                                        <a class="btn btn-info pull-right" (click)="replyDoubt(false,item.id, doubtmessage.value)">{{ 'Reply' | translate }}</a>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- end media-post -->
                                                </div>
                                            </div>
                                            <!-- end media -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer section-nude">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#">{{ 'Home' | translate }}</a>
          </li>
          
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©  made with
          <i class="fa fa-heart heart"></i>
        </span>
      </div>
    </div>
  </div>
</footer>