<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h3>Add List</h3>
        <form name="addlistform">
          <div class="row">
            <div class="col-md-3 col-sm-5">
              <h6>Main Image</h6>
              <app-image-upload [multiple]="true"></app-image-upload>
              <!-- 
                <h6>Categories</h6>
                <tag-input [(ngModel)]='categories' name="categories" theme='regular-theme'></tag-input>
    -->
              <b>You can upload maximum 5 images</b>

            </div>

            <div class="col-md-8 col-sm-7">
                <div class="form-group">
                    <h6>Title
                    <span class="icon-danger">*</span>
                    </h6>
                    <input type="text" class="form-control border-input" required [(ngModel)]="title" #titles="ngModel" name="title" placeholder="Title of item">
                    <div *ngIf="titles.invalid && (titles.dirty || titles.touched)" class="alert alert-danger form-control">

                    <div *ngIf="titles.errors.required">
                        Title is required.
                    </div>
                    </div>
                </div>
                <div class="row price-row form-group">
                    <div class="col-md-6">
                        <h6>Price
                        </h6>
                        <div class="input-group border-input">
                            <input type="text" value="" placeholder="enter price" [(ngModel)]="price" #prices="ngModel" name="price" class="form-control border-input">
                            <span class="input-group-addon">
                            <i class="fa fa-euro"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Category</h6>
                        <div class="form-group">
                            <angular2-multiselect [data]="dropdownList1" #categorys="ngModel" [(ngModel)]="category" name="category" [settings]="dropdownSettings1" >
                            </angular2-multiselect>
                            
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <h6>Description
                        <span class="icon-danger">*</span>
                        </h6>
                        <textarea class="form-control textarea-limited" placeholder="" rows="13" maxlength="150" required [(ngModel)]="description"
                        #descriptions="ngModel" name="description"></textarea>
                        <h5>
                        <div *ngIf="descriptions.invalid && (descriptions.dirty || descriptions.touched)" class="alert alert-danger form-control">

                            <div *ngIf="descriptions.errors.required">
                            Description is required.
                            </div>
                        </div>
                        <small>
                            <span id="textarea-limited-message" class="pull-right">150 characters left</span>
                        </small>
                        </h5>

                    </div>
                </div>
                <h3> <strong> Where to find it</strong>
                </h3>
                <div class="col-sm-12">
                    <div class="form-group">
                    <h6> - Website :</h6>
                    <input type="text" class="form-control border-input" [(ngModel)]="website" #websites="ngModel" name="website" placeholder="enter the website here...">
                    </div>
                    <div class="form-group">
                    <h6> - Shop Address :</h6>
                    <input type="text" class="form-control border-input" #search id="searchaddress" autocorrect="off" autocapitalize="off" spellcheck="off" [(ngModel)]="address" #addresss="ngModel" name="address" placeholder="enter the shop address here...">
                   
                    
                    </div>
                    <div class="form-group">
                    <h6> - Other Infos :</h6>
                    <input type="text" class="form-control border-input" [(ngModel)]="others" #otherss="ngModel" name="others" placeholder="others infos...">
                    </div>
                </div>
                <div class="map form-group">
                    <div class="big-map">
                      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                          [label]="m.label" [iconUrl]="markerIconUrl()" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                          <agm-info-window>
                            <strong>{{infoWindow}}</strong>
                          </agm-info-window>
                        </agm-marker>
                      </agm-map>
                    </div>
                </div>
                
                <div class="form-group">
                    <h6> Expiry Date
                    <span class="icon-danger">*</span>
                    </h6>
                    <input type="date"  class="form-control border-input" required [(ngModel)]="expiry" #expirys="ngModel" name="expiry" placeholder="others infos...">
                </div>
            </div>
            </div>
            <div class="form-group">
                <label for=""></label>
            </div>
            
            <ng-container *ngIf="message; else nomessage">
                <div class="alert alert-danger " data-notify="container" >
                    <div class="alert-wrapper text-center">
                        <div class="message">
                            {{message}}
                        </div>
                    </div>                
                </div>
            </ng-container>
            <ng-template #nomessage>            
            </ng-template>
          <div class="row buttons-row">
            <div class="col-md-3 col-sm-4">

            </div>
            <div class="col-md-4 col-sm-4">
            <ng-container *ngIf="(sharelistid && adminsharelistid); else elseTemplate">
              <a class="btn btn-outline-danger btn-block btn-round" [routerLink]="['/share-list-details', sharelistid, adminsharelistid ]">Cancel</a>
            </ng-container>
            <ng-template #elseTemplate>
              <a class="btn btn-outline-danger btn-block btn-round" [routerLink]="['/mylist']">Cancel</a>
                
            </ng-template>
            </div>
            
            <div class="col-md-4 col-sm-4">
              <button class="btn btn-primary btn-block btn-round" (click)="Pushupload()">Save & Publish </button>
            </div>
          </div>
          

        </form>
      </div>
    </div>
  </div>
</div>
<footer class="footer section-nude">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Licenses</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © {{data | date: 'yyyy'}}, made with
          <i class="fa fa-heart heart"></i>
        </span>
      </div>
    </div>
  </div>
</footer>

