<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <h3>Gift Details : {{title}}</h3>
                    <div class="form-group">
                        <label for=""></label>
                    </div>
                    <div class="row">

                        <div class="col-md-3 col-sm-5" >
                            <h6>Gift Images</h6>
                            <div class="fileinput text-center">
                                <div *ngFor="let item of imagesUrls">
                                    <img src="{{item}}" width="100%" height="135px" alt="giftimage">
                                </div>
                            </div>                            
                        </div>
                        <div class="col-md-8 col-sm-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pull-left">
                                        <h6>Title: {{title}}</h6>
                                    </div>                                                                      
                                </div>  
                                <div class="col-md-6">
                                    <div class="form-group pull-right">
                                        <h6>Category : {{checked_cat}}</h6>
                                    </div>
                                </div>                       
                            </div>
                            <div class="row price-row form-group">
                                <div class="col-md-6">
                                    <h6>Price : {{price}}
                                    <i class="fa fa-euro"></i>
                                    </h6>                                    
                                </div>
                                <div class="col-md-6" *ngIf="isblocked">
                                    <h6>Blocked Time Remaining : 
                                    </h6>
                                    <p>{{expiry}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12 form-group">
                                    <h6>Description:                                        
                                    </h6>
                                    <p>{{description}}</p>
                                </div>
                            </div>
                            <h3>
                                <strong> Where to find it</strong>
                            </h3>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h6> - Website :</h6>
                                   <label for="">{{website}}</label>
                                </div>
                                <div class="form-group">
                                    <h6> - Shop Address :</h6>
                                    <label for="">{{address}}</label>
                                      </div>
                                <div class="form-group">
                                    <h6> - Other Infos :</h6>
                                    <label for="">{{others}}</label> </div>
                            </div>
                            <div class="map form-group">
                                <div class="big-map">
                                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" >
                                        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                                            [label]="m.label" [iconUrl]="markerIconUrl()">
                                            <agm-info-window>
                                                <strong>{{infoWindow}}</strong>
                                            </agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                            <div class="form-group">
                                <h6> Expiry Date
                                    <span class="icon-danger">*</span>
                                </h6>
                                <input type="date" readonly class="form-control border-input"  [(ngModel)]="expy"   name="expy" placeholder="others infos...">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <ng-container *ngIf="giftMess">
                            <div class="alert alert-info " data-notify="container">
                                <div class="alert-wrapper text-center">
                                    <div class="message">
                                        {{ giftMess }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    
                    <div class="row buttons-row">                        
                        <div class="col-md-4 col-sm-4">                            
                            <a class="btn btn-info btn-block btn-round" (click)="open(small, 'lg')">Doubts</a>
                            <ng-template #small let-c="close" let-d="dismiss">
                                <div class="no-title modal-header no-border-header">
                                     <h4 class="modal-title">Doubts</h4>
                                    <button type="button" class="close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <div class="form-group ">
                                        <label>Message</label>
                                        <textarea name="doubtscommend" class="form-control" [(ngModel)]="doubtscommend" id="doubtscommend" cols="30" rows="10"></textarea>
                                    </div> 
                                    <ng-container *ngIf="errmess">
                                        <div class="alert alert-info " data-notify="container">
                                            <div class="alert-wrapper text-left">
                                                <div class="message">
                                                    {{ errmess }}
                                                </div>
                                            </div>                                    
                                        </div>
                                    </ng-container>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info btn-block btn-round" (click)="sendDoubts()" >Send Anonymous Doubts</button>
                                    </div>                                  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ngb-accordion #acc="ngbAccordion" >
                                                <ngb-panel id="config-panel-one">
                                                    <ng-template ngbPanelTitle>
                                                        <h5 class="mb-0 panel-title">
                                                            <a class="collapsed">
                                                               <strong> Other Doubts</strong>
                                                                <i class="nc-icon nc-minimal-down"></i>
                                                            </a>
                                                        </h5>
                                                    </ng-template>
                                                    <ng-template ngbPanelContent style="max-height:'200px'" *ngIf="doubts">
                                                        <div class="form-group" *ngFor="let item of doubts ">
                                                            <h6> {{item.data.Date}}</h6>
                                                            <h6 >Q : {{item.data.Question}} </h6>
                                                            <h6 >A : {{item.data.Request}}</h6>
                                                        </div>                                                        
                                                    </ng-template>
                                                </ngb-panel>
                                            </ngb-accordion>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">                                   
                                    <button type="button" class="btn btn-default btn-link" (click)="c('Close click')">Close</button>
                                </div>
                            </ng-template>
                        </div>
                         <ng-container *ngIf="isblocked; else elseTemplate">
                            <div class="col-md-4 col-sm-4">
                                <a class="btn btn-outline-default btn-block btn-round" (click)="unblockGift()">Unblock Gift</a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button class="btn btn-success btn-block btn-round" (click)="!isblocked||confirmGiftBought()">Confirm Gift Bought</button>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div class="col-md-8 col-sm-4" *ngIf="!blockedbyanother">
                                <a class="btn btn-outline-success btn-block btn-round" (click)="open(small2, 'lg')">Block Gift Temporarily</a>
                                <ng-template #small2 let-c="close" let-d="dismiss">
                                    <div class="no-title modal-header no-border-header">
                                        <h4 class="modal-title">Block Item Temporarily</h4>
                                        <button type="button" class="close" (click)="d('close')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="form-group">
                                            <p>During the time that you block these item, you will be the only User able to buy there item.</p>
                                        </div> 
                                        <div class="form-group">
                                            <label for="">Select how many hours you will block there item</label>
                                            <select name="timeblock" id="timeblock" [(ngModel)]="timeblock" class="form-control">
                                                <option value="1">1 Hour</option>
                                                <option value="2">2 Hours</option>
                                                <option value="6">6 Hours</option>
                                                <option value="12">12 Hours</option>
                                                <option value="24">24 Hours</option>
                                            </select>
                                        </div>                                     
                                        <div class="form-group">
                                            <p>Remember, during these time you will not able to block any other items from the same User</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="left-side">
                                            <button type="button" class="btn btn-default btn-link" (click)="c('close')">Never mind</button>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-side">
                                            <button type="button" class="btn btn-danger btn-link" (click)="c('blockgift')" >Confirm Block Gift Temporarily</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div *ngIf="blockedbyanother" class="col-md-8 col-sm-4">
                                <a class="btn btn-outline-default btn-block btn-round" >HIS ITEM HAVE BEEN BLOCKED</a>
                                
                            </div>
                        </ng-template>
                    </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a [routerLink]="['/view-list/mmWGGekSeGumoDoXyGGy']">Licenses</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © made with
                    <i class="fa fa-heart heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>