<div class="wrapper">
   <!--  <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/farid-askerov.jpg')">
        <div class="filter"></div>
    </div> -->
    <div class="form-group">
        <label for=""></label>
    </div>
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <app-image-upload [image]=""></app-image-upload>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <form class="settings-form" name="profileform">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    <label>
                                        <b>{{ 'Admin' | translate }}: </b></label>
                                    <b><strong class="pull-right">{{Admin}}</strong></b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    <h6>{{ 'Title' | translate }}
                                        <span class="icon-danger">*</span>
                                    </h6>
                                    <input type="text" class="form-control border-input" required [(ngModel)]="Title" #titles="ngModel" name="title" placeholder="Title of item">
                                    <div *ngIf="titles.invalid && (titles.dirty || titles.touched)" class="alert alert-danger form-control">
                                
                                        <div *ngIf="titles.errors.required">
                                             {{ 'Titlerequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>
                                        <b>{{ 'Member' | translate }} : </b>
                                    </label>
                                    <a class="btn btn-info btn-block btn-round" (click)="open(small, 'sm')">{{ 'Addmember' | translate }}</a>
                                    <div class="form-group">
                                        <div >
                                            <ul >
                                                <li *ngFor="let item of selectedlist">
                                                    <b>{{item.itemName}}</b>
                                                </li>
                                            </ul>
                                        </div>                                    
                                    </div>
                                    <ng-template #small let-c="close" let-d="dismiss">
                                        <div class="no-title modal-header no-border-header">
                                            <h4 class="modal-title">{{ 'Sharelistaddfriend' | translate }} <button type="button" class="close" (click)="d('cancel')">
                                                <span aria-hidden="true">&times;</span>
                                            </button></h4> 
                                            
                                        </div>
                                        <div class="modal-body text-center">
                                            <label for="">{{ 'Friendsharelistmess' | translate }}: </label>
                                            <angular2-multiselect 
                                                [data]="dropdownList1"
                                                #members="ngModel" 
                                                [(ngModel)]="selectedlist" 
                                                name="member"
                                                [settings]="dropdownSettings1"
                                                (onSelect)="onItemSelect($event)"
                                                 (onDeSelect)="OnItemDeSelect($event)"
                                            >
                                            </angular2-multiselect>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <div class="left-side">
                                                <button type="button" class="btn btn-default btn-link" (click)="c('cancel')">{{ 'Cancel' | translate }}</button>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="right-side">
                                                <button type="button" class="btn btn-danger btn-link" (click)="c('addriend')" >{{ 'Addfriend' | translate }}</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    <label>
                                        <b> {{ 'Otherinfomation' | translate }}: </b></label>
                                    <textarea class="form-control textarea-limited" required [(ngModel)]="OtherInfo" #others="ngModel" name="OtherInfo" placeholder="{{ 'Otherinfomation' | translate }}" rows="3" maxlength="150"></textarea>
                                    <h5>
                                        <small>
                                            
                                        </small>
                                    </h5>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-6">
                                <div class="form-group">
                                    <label>
                                        <b>{{ 'Expirydate' | translate }}: </b>
                                        <span class="icon-danger">*</span>
                                    </label>
                                    <input type="date" class="form-control border-input" required [(ngModel)]="ExpiryDate" #expirys="ngModel" name="expiry" placeholder="">
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="error">
                            <div class="alert alert-danger " data-notify="container" *ngIf="error">
                                <div class="alert-wrapper text-center">
                                    <div class="message">
                                        {{ error | translate }}
                                    </div>
                                </div>
                        
                            </div>
                        </ng-container>
                        <ng-container *ngIf="infoMess">
                            <div class="alert alert-success " data-notify="container">
                                <div class="alert-wrapper text-center">
                                    <div class="message">
                                         {{ infoMess |translate }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-wd btn-outline-default btn-round"  [routerLink]="['/my-share-list']">{{ 'Back' | translate }}</button>
                            <button type="submit"  class="btn btn-wd btn-info btn-round" (click)="CreateShareList()">{{ 'Addlist' | translate }}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer section-nude">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">{{ 'Home' | translate }}</a>
                    </li>
                   
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    ©, made with
                    <i class="fa fa-heart heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>